/*Selectores de tags*/
body {
    background-image: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80");
}

* {
    box-sizing: border-box;
}
h3{
    display: inline;
}
/*Selectores de calse*/
.post{
    margin: auto;
    background: white;
    width: 500px;
    height: 520px;
    margin-top: 3em;
    
}
.post__header{
    padding-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    
    
}
.post__left{
    float: left;
}

.post__right{
    float: right;
}
.post__img{
    width: 100%;
    margin-top: 3em;
}
.post__body{
padding: 0.8em 1em ;
}
.post__icons{
    display: inline-block;
}

.post__icons {
    display: inline;
    display: flex;
    justify-content: space-between;
}
